In [1]:
#Условие 1: 1 задача
import pandas as pd

df = pd.read_csv('data/kc_final.csv', nrows=5)
df.head()

,Unnamed: 0,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [ ]:
#Условие 2: 2 задача

In [6]:
#Условие 3: 3 задача
import pandas as pd
df = pd.read_csv('data/kc_house_data.csv')

##3.1  В каком диапазоне изменяются стоимости недвижимости?
df['price'].agg(['min', 'max'])

min      75000.0
max    7700000.0
Name: price, dtype: float64

In [10]:
##3.2 Какую долю в среднем занимают жилая площадь от всей площади по всем домам?
df['p'] = df.sqft_living / df.sqft_lot
df['p'].mean()

0.3237447254204737

In [12]:
##3.3 Как много домов с разными этажами в данных?
df.groupby(['floors']).size()

floors
1.0    10680
1.5     1910
2.0     8241
2.5      161
3.0      613
3.5        8
dtype: int64

In [18]:
##3.4 Насколько хорошие состояния у домов в данных?
df.groupby(['condition']).size()

condition
1       30
2      172
3    14031
4     5679
5     1701
dtype: int64

In [16]:
##3.5 Найдите года, когда построили первый дом, когда построили последний дом в данных?
print(df['date'].max(), df['date'].min())

20150527T000000 20140502T000000

In [ ]:
#Условие 4: 4 задача Ответьте на несколько вопросов

In [22]:
##4.1 Сколько в среднем стоят дома, у которых 2 спальни?
filter = df["bathrooms"]==2
df.where(filter)
df['price'].mean()

540088.1417665294

In [24]:
##4.2 Какая в среднем общая площадь домов, у которых стоимость больше 600 000?
filter = df["price"]>600000
df.where(filter)
df['sqft_lot'].mean()

15106.967565816869

In [27]:
##4.3 Как много домов коснулся ремонт?
filter = df["yr_renovated"]==1
df.where(filter)
df['id'].count()

21613

In [43]:
##4.4 Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?
filter_g10 = df.loc[(df["grade"] > 10)]
price_g10 = filter_g10['price'].mean()

filter_g4 = df.loc[(df["grade"] < 4)]
price_g4 = filter_g4['price'].mean()

print(price_g10 - price_g4)

1488885.1175298805

In [ ]:
#Условие 5: 5 задача Ответьте на несколько вопросов

In [51]:
##5.1 Выберите дом клиенту
##Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?
fdf = df.loc[(df["bedrooms"] > 2) & (df["sqft_basement"] > 0)]
fdf['id'].count()

7645

In [62]:
##5.2 Выберите дом клиенту
##Клиент хочет дом либо с очень красивым видом из окна, 
##либо с видом на набережную, 
##в очень хорошем состоянии и год постройки не меньше 1980 года. 
##В какой ценовом диапазоне будут дома?
fdf = df.loc[(df["yr_built"] > 1980) & ((df["waterfront"] ==1) | (df["view"] ==1)) & (df['condition'] > 1)]
print(df['price'].max(), df['price'].min())

7700000.0 75000.0

In [58]:
##5.3 Выберите дом клиенту
##Клиент хочет дом без подвала, 
##  двумя этажами, стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем?
fdf = df.loc[(df["price"] < 150000) & (df["floors"] ==2) & (df["sqft_basement"] ==0)]
print(df['condition'].mean())

3.4094295100171195